.pageHeader{
    border: 2px solid blueviolet;
    background-color: darkseagreen;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.question{
    border: 2px solid darkseagreen;
    margin: auto;
    margin-bottom: 30px;
    background-color: seashell;
    width: 50%
}